body{
    font-family: sans-serif;
    background-color: #24292E;
    color: #fff;
}

#titik1{
    padding-left: 43px;
}
#titik2{
    padding-left: 52px;
}

#titik3{
    padding-left: 61px;
}

.textbox1{
    color: #fff;
    width: 586px;
    height: 25px;
    margin-top: 10px;
    padding-left: 5px;
    background: none;
    border: solid 1px #0A9369;
}

.textbox2{
    color: #fff;
    width: 170px;
    height: 25px;
    margin-top: 10px;
    padding-left: 5px;
    background: none;
    border: solid 1px #0A9369;
}

#hasil{
    color: #fff;
    width: 500px;
    height: 25px;
    margin-top: 10px;
    padding-left: 5px;
    background: none;
    border: solid 1px #0A9369;
}

#savebtn{
    color: #fff;
    font-weight: bold;
    width: 140px;
    height: 30px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #0A9369;
    border: solid 1px #0A9369;
}
#savebtn:hover{
    background-color: #fff;
    color: #0A9369;
}

.tablebtn{
    color: #fff;
    font-weight: bold;
    width: 140px;
    height: 30px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #0A9369;
    border: solid 1px #0A9369;
}
.tablebtn:hover{
    background-color: #fff;
    color: #0A9369;
}
table{
    border: solid 1px #0A9369;
    float: left;
    margin-top: -110px;
    margin-left: 150px;
    width: 610px;
}

table td th{
    border: solid 1px #0A9369;
    text-align: center;
}